
// 🎨 Paleta de Cores Semânticas

// Cores Neutras
$white: #FFFFFF;
$gray-lightest: #F8f9FA;
$gray-light: #E0E0E0;
$gray-muted: #444444;
$gray-dark: #333333;
$border-default: #CCCCCC;
$shadow-light: #0000001A;

// Cores de Estado
$error: #FF0000;

// Cores Primárias
$primary: #007BFF;
$primary-hover: #0056B3;
